{% extends "base.html" %}

{% block head %}
    <title>Общий чат</title>
{% endblock %}

{% block content %}
<div class="flex flex-col items-center">
    <h1>Общий онлайн чат</h1>
    <h2>эмм аммм ам ам {{cur_user.email}}</h2>
    <form action="" onsubmit="sendMessage(event)">
        <input class="bg-red-300" type="text" id="messageText" autocomplete="off"/>
        <button>Send</button>
    </form>
    <ul id='messages'>
</ul>
</div>
<script>
    async function getLastMessages() {
        const url = 'http://localhost:8000/api/v1/chat/last_messages_auth_chat'
        const response = await fetch(url, {
            method: 'GET'
        })
        return response.json()
    }

    getLastMessages()
        .then(messages => {
            appendMessage("Последние 50 сообщений:")
            messages.forEach(msg => {
                appendMessage(`${msg.message} (${new Date(msg.created_at).toLocaleString()})`) 
            })
            appendMessage("\nНовые сообщения:")
        })

    function appendMessage(msg) {
        let messages = document.getElementById('messages')
        let message = document.createElement('li')
        let content = document.createTextNode(msg)
        message.appendChild(content)
        messages.appendChild(message)
    }

    let user_id = {{ cur_user.id }}
    let ws = new WebSocket(`ws://localhost:8000/api/v1/chat/general_auth_ws/${user_id}`);
    ws.onmessage = function (event) {
        appendMessage(`${event.data} (${new Date().toLocaleString()})`) //  Добавляем  время  к  новому  сообщению
    };

    function sendMessage(event) {
        let input = document.getElementById("messageText")
        ws.send(input.value)
        input.value = ''
        event.preventDefault()
    }
</script>
{% endblock %}